<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Sistema Acadêmico</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h2>Login</h2>

    <form th:action="@{/login}" method="post">

        <label>Usuário:</label>
        <input type="text" name="username" required>

        <label>Senha:</label>
        <input type="password" name="password" required>

        <button type="submit">Entrar</button>

        <div th:if="${param.error}">
            <p style="color:red;">Usuário ou senha inválidos.</p>
        </div>

        <div th:if="${param.logout}">
            <p style="color:green;">Você saiu do sistema.</p>
        </div>
    </form>

    <br>
    <a class="btn" th:href="@{/register}">Criar uma conta</a>

</div>
</body>
</html>
