<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h2>Cadastrar Usuário</h2>

    <form th:action="@{/register}" th:object="${usuario}" method="post">

        <label>Login:</label>
        <input type="text" th:field="*{login}" required>

        <label>Senha:</label>
        <input type="password" th:field="*{senha}" required>

        <label>Papel:</label>
        <select th:field="*{role}">
            <option th:value="ROLE_ADMIN">Administrador</option>
            <option th:value="ROLE_SECRETARIA">Secretaria</option>
        </select>

        <button type="submit">Cadastrar</button>
    </form>

    <div th:if="${erro}">
        <p style="color:red;" th:text="${erro}"></p>
    </div>

    <br>
    <a class="btn-secondary" href="/login">Voltar</a>

</div>
</body>
</html>
