<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nova Matrícula</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="navbar">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/alunos}">Alunos</a>
    <a th:href="@{/disciplinas}">Disciplinas</a>
    <a th:href="@{/matriculas}">Matrículas</a>
    <a th:href="@{/logout}">Sair</a>
</div>

<div class="container">

    <h1>Nova Matrícula</h1>

    <form th:action="@{/matriculas}" method="post">

        <label>Aluno:</label>
        <select name="alunoId" required>
            <option value="">Selecione</option>
            <option th:each="a : ${alunos}" th:value="${a.id}" th:text="${a.nome}"></option>
        </select>

        <label>Disciplina:</label>
        <select name="disciplinaId" required>
            <option value="">Selecione</option>
            <option th:each="d : ${disciplinas}" th:value="${d.id}" th:text="${d.nome}"></option>
        </select>

        <button type="submit">Matricular</button>
    </form>

    <br>
    <a class="btn-secondary" th:href="@{/matriculas}">Voltar</a>

</div>
</body>
</html>
